header {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  align-items: center;
  color: black;
  cursor: pointer;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem 0 1rem;
}

.softwareName {
  color: aliceblue;
}
