input:active {
  border: none;
}

body {
  background-color: #141b2d;
  font-family: Tahoma, sans-serif;
}

main {
  display: flex;
  background-image: url("./img/church.jpg");
  margin: 5rem;
  height: 70vh;
  border-radius: 20px;
  color: #fff;
}

aside {
  width: 33%;
}

.registerForm {
  width: 67%;
  background-color: #282c45;
}
